.volunteer-dates-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-height: 14rem;
  overflow-y: auto;
  margin-bottom: 1rem;

  .list {
    width: 100%;
  }
}

.volunteer-dates-img {
  position: absolute;
  top: 7rem;
  right: 1rem;

  &-dark {
    filter: invert(1);
  }
}

@media only screen and (max-width: 730px) {
  .volunteer-dates-img {
    display: none;
  }
}
