.loginForm {
  padding: 40px 20% 0 20%;
  display: flex;
  flex-direction: column;

  & > * {
    margin-bottom: 2rem;
  }
}

.loginButtons {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
}
