.volunteer-form {
  position: relative;

  .grid {
    .section {
      display: flex;
      flex-direction: column;
    }

    .reminder-img {
      position: absolute;
      left: 40%;
    }

    .container-img {
      position: relative;
    }

    .dropdown {
      width: 100%;
      margin-top: 1rem;
    }

    .add-location-btn {
      margin-top: 1rem;
    }
  }
}

@media screen and (max-width: 600px) {
  .reminder-img {
    left: 75% !important;
  }
}
