.list-container {
  .add-location-btn {
    width: 100%;
    margin-bottom: 1rem;
  }

  .search-field {
    width: 100%;
    margin-bottom: 1rem;
  }

  .list {
    height: 49vh;
    overflow-y: auto;

    .address {
      position: relative;

      &-name {
        font-size: 18px;
        font-weight: 600;
      }

      &-btns {
        position: absolute;
        right: 5px;
        top: 5px;
      }

      .edit-icon,
      .delete-icon {
        cursor: pointer;
      }
    }
  }
}

@media screen and (min-width: 800px) {
  .list-container {
    height: 35rem;
  }
}
