@import 'styles/colors';

.toolbar {
  display: block;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.logo-iles-de-paix {
  -webkit-filter: drop-shadow(1px 1px 4px gray);
  filter: drop-shadow(1px 1px 4px gray);

  &-light {
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.8);
  }

  &-dark {
    border: 1px solid $quinary-bg-color;
    background-color: $quinary-bg-color;
  }
}

.logoutIcon {
  cursor: pointer;
  position: absolute;
  left: 7rem;
}

// TODO: remove this part for prod perspective
.demoMode {
  input {
    left: 10px;
    user-select: none;
    opacity: 1;
    width: 20px;
    filter: grayscale(1);
  }
  svg {
    opacity: 0;
  }
}
