.volunteer-sales {
  ul {
    padding: 0;
    max-height: 50vh;
    overflow: auto;
  }

  li {
    list-style-type: none;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;

    .date {
      width: 250px;
      display: flex;
      flex-direction: column;
    }

    .address {
      margin-left: 0.5rem;
      width: 100%;
    }
  }

  .save-button {
    width: 28.4rem;
    margin-top: 10px;
  }

  &-img {
    position: absolute;
    top: 7rem;
    right: 1rem;
  }
}

@media only screen and (max-width: 750px) {
  .volunteer-sales-img {
    display: none;
  }
}

@media only screen and (max-width: 480px) {
  .volunteer-sales {
    .save-button {
      width: 100%;
    }
  }
}
