/* default theme */
html {
  /* background */
  --primary-bg-color: rgb(255, 255, 255); //white
  --secondary-bg-color: rgb(237, 237, 237); //veryLightGrey
  --tertiary-bg-color: rgb(170, 170, 170); //lightGrey
  --quaternary-bg-color: rgb(117, 120, 123); //grey
  --quinary-bg-color: rgb(36, 36, 36); //darkGrey

  /* global */
  --primary-color: rgb(16, 168, 226); //lightBlue
  --secondary-color: rgb(0, 56, 113); //darkBlue
  --tertiary-color: rgb(243, 146, 0); //orange
  --quaternary-color: rgb(196, 214, 0); //green
  --quinary-color: rgb(134, 188, 37); //appleGreen
  --senary-color: rgb(255, 213, 0); //yellow
  --septenary-color: rgb(227, 6, 19); //red
  --octonary-color: rgb(182, 4, 224); //purple

  /* shadow */
  --primary-shadow-color: rgba(117, 120, 123, 0.1); //shadowGrey
  --secondary-shadow-color: rgba(16, 168, 226, 0.11); //darkBlueTransparent

  /* border */
  --primary-border-color: rgb(117, 120, 123); //grey
  --secondary-border-color: rgb(255, 255, 255); //white
  --tertiary-border-color: rgb(237, 237, 237); //veryLightGrey

  /* text */
  --primary-text-color: rgb(0, 0, 0); //black
  --secondary-text-color: rgb(255, 255, 255); //white
  --tertiary-text-color: rgb(170, 170, 170); //lightGrey

  --background: rgb(255, 255, 255); //white
  --card-border-color: rgb(237, 237, 237); //veryLightGrey
  --grey-to-blue: rgb(237, 237, 237); //veryLightGrey
  --primary-constants-color: rgb(255, 255, 255); //white
  --quaternary-constants-color: rgb(117, 120, 123); //grey
  --quinary-constants-color: rgb(36, 36, 36); //darkGrey
  --darkAdmin: rgb(170, 170, 170);
  --legend: rgb(36, 36, 36);
  --light-header: rgb(237, 237, 237); //veryLightGrey
  --constants-primary: rgb(255, 255, 255); //white
  --constants-quaternary: rgb(117, 120, 123); //grey
  --constants-quinary: rgb(36, 36, 36); //darkGrey
}

/* dark theme */
html[data-theme='dark'] {
  /* background */
  --primary-bg-color: rgb(37, 46, 58); // rgb(36, 36, 36); //darkGrey
  --secondary-bg-color: rgb(117, 120, 123); //grey
  --tertiary-bg-color: rgb(170, 170, 170); //lightGrey
  --quaternary-bg-color: rgb(237, 237, 237); //veryLightGrey
  --quinary-bg-color: rgb(255, 255, 255); //white

  /* global */
  --primary-color: rgb(16, 168, 226); //lightBlue
  --secondary-color: rgb(0, 56, 113); //darkBlue
  --tertiary-color: rgb(243, 146, 0); //orange
  --quaternary-color: rgb(196, 214, 0); //green
  --quinary-color: rgb(134, 188, 37); //appleGreen
  --senary-color: rgb(255, 213, 0); //yellow
  --septenary-color: rgb(227, 6, 19); //red
  --octonary-color: rgb(182, 4, 224); //purple

  /* shadow */
  --primary-shadow-color: rgba(117, 120, 123, 0.1); //shadowGrey
  --secondary-shadow-color: rgba(16, 168, 226, 0.11); //darkBlueTransparent

  /* border */
  --primary-border-color: rgb(117, 120, 123); //grey
  --secondary-border-color: rgb(255, 255, 255); //white
  --tertiary-border-color: rgb(237, 237, 237); //veryLightGrey

  /* text */
  --primary-text-color: rgb(255, 255, 255); //white
  --secondary-text-color: rgb(0, 0, 0); //black
  --tertiary-text-color: #242424; //darkGrey

  --background: rgb(23, 32, 45); //veryDarkGrey
  --card-border-color: rgb(36, 36, 36); //darkGrey
  --grey-to-blue: rgb(16, 168, 226); //lightBlue
  --primary-constants-color: rgb(255, 255, 255); //white
  --quaternary-constants-color: rgb(117, 120, 123); //grey
  --quinary-constants-color: rgb(36, 36, 36); //darkGrey
  --darkAdmin: rgb(63, 76, 90);
  --legend: rgb(165, 165, 165);
  --light-header: rgb(63, 76, 90); //veryLightGrey
  --constants-primary: rgb(255, 255, 255); //white
  --constants-quaternary: rgb(117, 120, 123); //grey
  --constants-quinary: rgb(36, 36, 36); //darkGrey
}

/**********less variables**********/

/* background */
$primary-bg-color: var(--primary-bg-color);
$secondary-bg-color: var(--secondary-bg-color);
$tertiary-bg-color: var(--tertiary-bg-color);
$quaternary-bg-color: var(--quaternary-bg-color);
$quinary-bg-color: var(--quinary-bg-color);

/* global */
$primary-color: var(--primary-color);
$secondary-color: var(--secondary-color);
$tertiary-color: var(--tertiary-color);
$quaternary-color: var(--quaternary-color);
$quinary-color: var(--quinary-color);
$senary-color: var(--senary-color);
$septenary-color: var(--septenary-color);
$octonary-color: var(--octonary-color);

/* shadow */
$primary-shadow-color: var(--primary-shadow-color);
$secondary-shadow-color: var(--secondary-shadow-color);

/* border */
$primary-border-color: var(--primary-border-color);
$secondary-border-color: var(--secondary-border-color);
$tertiary-border-color: var(--tertiary-border-color);

/* text */
$primary-text-color: var(--primary-text-color);
$secondary-text-color: var(--secondary-text-color);
$tertiary-text-color: var(--tertiary-text-color);

$background: var(--background);
$card-border-color: var(--card-border-color);
$grey-to-blue: var(--grey-to-blue);
$primary-constants-color: var(--primary-constants-color);
$quaternary-constants-color: var(--quaternary-constants-color);
$quinary-constants-color: var(--quinary-constants-color);
$darkAdmin: var(--darkAdmin);
$legend: var(--legend);
$light-header: var(--light-header);
$constants-primary: var(--constants-primary);
$constants-quaternary: var(--constants-quaternary);
$constants-quinary: var(--constants-quinary);
