.app-wrapper {
  height: 100%;
  padding: 0 2rem 2rem 2rem;

  .intro {
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  .volunteer-permissions {
    opacity: 0.6;
    cursor: default;
  }

  &-img {
    justify-content: center;
    max-height: 400px;

    img {
      max-width: 400px;
      height: 500px;
    }
  }
}
