.tabsWrapper {
  width: 100%;
  height: 400px;
}

.noTab {
  display: flex;
  justify-content: center;
  align-items: center;
}

.noTabImg {
  max-height: 300px;
}

.tabsContainer .tabsList:first-child {
  overflow-x: visible;
}
