.card-dark {
  box-shadow: 0 0 2px 1px rgba(255, 255, 255, 0.8) !important;
}

.scale-card-dark:hover {
  transition: all 0.2s ease-in-out;
  transform: scale(1.04);
}

.scale-card-light:hover {
  transition: all 0.3s ease-in-out;
  transform: scale(1.01);
}
