.modal-wrapper {
  display: flex;
  align-items: center;

  .modal-content {
    width: 80%;
    margin: auto;
    padding: 2rem;
    position: relative;

    .close-icon {
      top: 0.5rem;
      right: 0.5rem;
      font-size: 26px;
      position: absolute;
      cursor: pointer;
    }
  }
}

.modal {
  &-dark > .modal-content {
    background-color: #242526;
  }

  &-light > .modal-content {
    background-color: #ffffff;
  }
}
