.user-btns-container {
  display: flex;
  flex-direction: row;
  width: 100%;

  .user-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;

    span {
      margin: 0 2px;
    }
  }
}
