.registration-form {
  position: relative;

  .section {
    display: flex;
    flex-direction: column;
  }

  .dropdown {
    width: 100%;
    margin-top: 1rem;
  }

  .save-btn {
    width: 100%;
  }
}
