@import 'styles/colors';

.history-wrapper {
  .history-list {
    max-height: 65vh;
    overflow-y: auto;
    padding: 1rem;

    &-card {
      padding: 0.5rem 1rem;
      margin-bottom: 1rem;
      cursor: pointer;

      &__header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .red-amount {
          color: $tertiary-color;
        }

        &__amount {
          margin-top: 4px;
          text-decoration: underline;
        }
      }

      &__address {
        display: flex;
        align-items: center;
      }
    }
  }

  .no-history {
    display: flex;
    flex-direction: column;

    .no-tab-img {
      margin-top: 1rem;
    }
  }

  .history-img {
    position: absolute;
    top: 7rem;
    right: 1rem;
  }
}

@media only screen and (max-width: 750px) {
  .history-wrapper {
    .history-img {
      display: none;
    }
  }
}
