.registrations-slideout {
  &-card {
    text-align: center;
    padding: 0.5rem;
    margin-bottom: 1rem;

    &__subcard {
      position: relative;
      cursor: pointer;
      text-align: start;
      padding: 0.2rem 0.4rem;
      margin-bottom: 0.4rem;

      .delete-btn {
        position: absolute;
        right: 0.4rem;
        top: 0.4rem;
        z-index: 2;
      }
    }
  }

  .no-registrations {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
