.map-container {
  &-layers {
    user-select: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 500;
    font-size: 18px;
    padding: 0 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  .map-element {
    height: 58.5vh;
    width: 100%;
  }
}
