.drawer-wrapper-container {
  &__small {
    width: 15vw;
  }

  &__medium {
    width: 30vw;
  }

  &__large {
    width: 50vw;
  }
}

.drawer-wrapper-content {
  position: relative;
  padding: 1rem;
  overflow-y: auto;

  .close-icon {
    position: absolute;
    cursor: pointer;
    top: 0.5rem;
    right: 0.5rem;
  }
}

@media only screen and (max-width: 950px) {
  .drawer-wrapper-container {
    &__small {
      width: 100vw;
    }

    &__medium {
      width: 100vw;
    }

    &__large {
      width: 100vw;
    }
  }
}
