.campaign-map-container {
  .unselect-btn {
    width: 100%;
    margin-bottom: 0.6rem;
  }

  .noTab {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .dates-group {
    width: 100%;
    height: 58vh;
    overflow-y: auto;
    display: flex;
    flex-direction: row;

    &-list {
      width: 100%;
      display: flex;
      align-items: center;

      .item {
        display: flex;
        align-items: center;
        user-select: none;

        &-icon {
          margin-right: 0.5rem;
        }
      }
    }
  }
}
