.dates-form {
  &-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;

    & > p {
      width: 190px;
    }

    .react-datepicker-wrapper {
      width: 100%;
    }
  }

  input {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: solid 0.2px gray;
    background-color: transparent;
    padding: 3px 8px;
  }

  &-btns {
    display: flex;
    justify-content: center;
    gap: 1rem;

    button {
      width: 100%;
    }
  }

  ul {
    padding: 0;
    overflow-y: auto;
    max-height: 50vh;
  }

  &-list {
    &__card {
      padding: 0.5rem 2rem;
      position: relative;
      margin-bottom: 1rem;

      &__item-underline {
        &-light {
          border-bottom: 1px rgba(0, 0, 0, 0.2) dashed;
          padding-bottom: 6px;
        }

        &-dark {
          border-bottom: 1px rgba(255, 255, 255, 0.2) dashed;
          padding-bottom: 6px;
        }
      }

      &-item {
        display: flex;
        list-style-type: none;
        align-items: center;
        margin: 8px 0;
      }
    }

    &-delete-icon {
      cursor: pointer;
    }
  }

  &-img {
    display: flex;
    justify-content: center;
  }
}
